body {
    color: white;
    background-color: rgb(19, 19, 19);
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    position: relative;
}

.fat_font {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.title {
    margin-top: 0;
}
.txt {
    font-size: .8rem;
}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 150px;
}
.side {
    width: 50%;
    text-align: center;
}

.black {
    color: rgb(19, 19, 19);
}

.card_back {
    width: 90px;
    margin: 5px 8px;
    cursor: pointer;
}
.row {
    display: flex;
    justify-content: center;
}
.btn_try_again {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 15px;
    cursor: pointer;
}


.descr_container {
    display: flex;
    text-align: left;
    margin-top: 100px;
}
.card_description {
    padding-right: 100px;
}
.img_card {
    width: 200px;
}
.description {
    padding-left: 25px;
}
.card_title {
    margin-bottom: 15px;
}

